@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  background-color: black;
  color: pink;
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

.App {
  text-align: center;
}

button {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}
button:disabled {
  cursor: auto;
}

.error-msg {
  color: red;
}

.article_card {
  display: block;
  margin: 55px;
  cursor: pointer;
  border: 1px solid pink;
}

.article_card_author,
.article_card_created_at,
.article_card_topic,
.article_card_comment_count,
.article_card_votes {
  font-size: 11px;
}

.top-nav-link {
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}

.article-container {
  margin: 5rem;
}

.article-title {
  font-size: 2em;
}

.article-author-name,
.article-created-at {
  font-size: 0.7em;
  font-weight: 400;
  margin-bottom: 1.3em;
}

.article-body {
  font-weight: 400;
  font-size: 1.1em;
  margin-bottom: 1.3em;
}

.thumbsup-button,
.thumbsdown-button {
  padding: 1em;
  margin: 0.2em;
  border: none;
}

.comment-container {
  margin: 5rem;
}

.comment-body {
  font-size: 0.9em;
  font-weight: 400;
  text-align: justify;
  background-color: rgb(40, 40, 40);
}
.comment-author {
  font-size: 0.7em;
  font-weight: 400;
}
.comment-created-at {
  font-size: 0.7em;
  font-weight: 400;
}

.add-comment-container {
  margin-bottom: 3rem;
}
textarea {
  background-color: rgb(40, 40, 40);
  font-size: 0.9em;
  width: 40rem;
  height: 5rem;
  padding: 5px;
  border-radius: 5px;
}
.button-post-comment {
  display: block;
  margin: 1em auto;
}
