@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
* {
  background-color: black;
  color: pink;
  font-family: "Space Mono", monospace;
}

.App {
  text-align: center;
}

button {
  cursor: pointer;
  padding-left: 15px;
}

.form-error {
  color: red;
}